.rating {
  display: flex;
  justify-content: center;
  height: 70%;
  overflow-y: scroll;
}

.rating .list {
  display: flex;
  flex-direction: column;
}

.rating .list__item {
  width: 500px;
  height: 65px;
  padding: 10px;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  border-radius: 5px;
  background-color: white;
  opacity: 0.6;
}

.rating .list__item--opacity {
  opacity: 1;
}

.list__item .item__star {
  position: absolute;
  left: -35px;
  top: 20px;
}

.list__item .item__number {
  font-family: GothamProBlack;
  font-size: 20px;
  color: white;
  width: 48px;
  height: 48px;

  background: #006c38;
  border-radius: 50%;

  line-height: 48px;
  text-align: center;
}

.list__item .item__count {
  font-family: GothamProBlack;
  font-size: 25px;
  line-height: 24px;
  color: #1b1d2e;
}
