.button {
  width: 231px;
  height: 62px;

  background: #ee142e;
  border-radius: 5px;
  border: none;

  font-family: GothamProBlack;
  font-size: 18px;
  line-height: 62px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
