.sorts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorts .sorts__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.sorts .button-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
