body {
  margin: 0;
}

.app_container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.app_content {
  width: 90%;
}

@font-face {
  font-family: GothamProBlack;
  src: url("fonts/GothamProBlack/GothamProBlack.ttf"),
    url("fonts/GothamProBlack/GothamProBlack.eot"),
    url("fonts/GothamProBlack/GothamProBlack.woff");
}
